
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: flex-start; /* align near top */
  padding-top: 50px;       /* distance from top */
  z-index: 1000;
}

/* Popup box */ 
.content {
  background: #393c39;
  border-radius: 8px;
  padding: 20px;
  width: 800px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.title{
  margin-bottom: 20px;
  padding: 10px;
  color: white;
  padding-left: 0px;
  align-items: center;
}

/* Form groups */
.form_group {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.form_group_des {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.form_group_des textarea{
  padding-top: 10px;
  padding-left: 10px;
  color: #030303;
  height: 100px;
  background-color: #f8f1f1;
}
.form_group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form_group input {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* Buttons container */
.popup_buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.btn_cancel {
  background-color: #ccc;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  color: #090808;
  cursor: pointer;
}

.btn_save {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.dropdown_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px auto;
  font-family: "Poppins", sans-serif;
}

.dropdown_select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #ffffff;
  border: 2px solid #d1d5db;
  border-radius: 12px;
  padding: 12px 16px;
  font-size: 15px;
  color: #0c0b0c;
  font-weight: 500;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  outline: none;
  position: relative;
}

.info_card {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f2f2;
  border-radius: 14px;
  padding: 12px 18px;
  margin: 30px 0px;
  color: #090808;
  font-family: "Inter", sans-serif;
  transition: all 0.3s ease;
  cursor: pointer;
}

.info_card:hover {
  background-color: #0c0b0b;
  transform: translateY(-1px);
}

.info_item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.info_icon {
  color: #2159bb;
}

.info-label {
  font-size: 14px;
  font-weight: 500;
  color: #090a0d;
}

.form_group input{
  background-color: white;
  color: #030303;
}
.form_group_des input{
   background-color: white;
   color: #030303;
}
.info_value {
  font-size: 15px;
  font-weight: 700;
  color: #030303;
} 

/* Customizing the inline datepicker popup */
.react_datepicker {
  background-color: #ede7e7 !important;
  border: 1px solid #3f3f3f;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.4);
  padding: 10px;
  position: absolute;
  top: 60px;
  right: 0;
  z-index: 20;
}

.react-datepicker__day,
.react-datepicker__time-name {
  color: #e5e7eb !important;
}

.react-datepicker__day--selected {
  background-color: #6366f1 !important;
}

.react-datepicker__day--keyboard-selected {
  background-color: #818cf8 !important;
}
