
:root {
  --bg: white;
  --textColor: black;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
}

.dark{
  --bg:#0f172a;
  --textColor:#ddd;
  --softBg:#1f273a;
  --softTextColor:#a6a6a6;
}

.light{
  --bg: white;
  --textColor: black;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
body{
   max-width: 1400px;
   margin: 0px auto;
   padding-bottom: 50px;
   background-color: black;
   color: white;
}
