
.main{
    background-color: black;
    padding-top: 30px;
    padding-bottom: 200px;
}
.container{
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 500px;
    background-color: rgb(60, 52, 52);
    margin: 0px auto;
    margin-top: 50px;
     border-radius: 20px;
}
.row{
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 35px;
    margin-top: 15px;
    
}
.row label{
    color: rgb(244, 239, 239);
    padding-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
}

.input{
    width: 600px;
    height: 40px;
    border-radius: 5px;
    border-color: rgb(143, 198, 198);
    padding-left: 7px;
    font-weight: 550;
    border: none;
} 
.btn{
    width: 100%;
    background-color: rgb(24, 102, 175);
    color: white; 
    height: 40px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    padding: 3px;
    margin-top: 25px;
    border: none;
    cursor: pointer;
} 

.footer{
    padding-top: 40px;
    width: 580px;
    display: flex;
    margin: 0px auto;
    flex-direction: row;
    justify-content: space-between;
} 
.footer_t{
    color: rgb(252, 9, 5);
}
.footer_btn{
    width: 80px;
    height: 40px;
}

.footer_btn button{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    color: aliceblue;
    background-color: rgb(53, 92, 142);
    border: none;
}
